@import '_reset.scss';
@import './_common.scss';
.pyg_view{
    
    overflow: scroll;
    height: 100%;
    background-color: #fff;
    .goods_message{
        padding:0 10px;
        .pyg_goodsname{
            padding:10px  0;
            color:#333;
        } 
        .pyg_price{
            padding: 10px 0;
            color:#0094ff;
            font-size: 20px;
        }
        .pyg_specification{
            padding-bottom: 10px;
            >li{
                border-bottom: 1px dashed #aaa;
                padding:5px 0;
                display: flex;
                span:nth-of-type(1){
                    flex:2;
                }
                span:nth-of-type(2){
                    flex: 5;
                    text-align: left;
                }
            }
            li:nth-last-of-type(1){
                border-bottom: none;
            }

        }
    }
    .mui-content{
        background-color: #fff;
        ul{
            
            padding: 0 10px;
            li{
            >div{
                padding:4px 0;
            }
            .attr_title{
                font-size: 18px;
                border-bottom: 1px solid #333;
            }    
            .attr-content{
                display: flex;
                >span:nth-of-type(1){
                    flex: 2;
                }
                >span:nth-of-type(2){
                    flex: 3;
                }
            }

            }
        }
    }

}
.pyg_footer{
    padding:0;
    >a:nth-child(1){
        border-right:1px solid #ccc;
    }
    >a{
        padding:4px 0;
        
    }
    >a:nth-last-child(-n+2){
        border-radius: 0px;
        color:#fff;
        font-size: 18px;
        line-height: 45px;
    }
}