@import '_reset.scss';
@import './_common.scss';
body{
    padding-top:0;
    padding-bottom: 0;
}

.pyg_goodsList{
    width: 100%;
    background-color: #eee;
    > li {
        width: 100%;
        margin: 5px 0;
        background-color: #fff;
        > a {
            display: flex;
            width: 100%;
            > .left{
                flex: 1;
                text-align: center;
                .goodsImg {
                    width: 70%;
                    display: inline-block;
                }
            }
            > .right {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
}
.goods_search{
    background-color: #fff;
    height: 100%;
    
    .search{
        background-color: #eee;
        padding:5px;
        height: 45px;
        position: relative;
        input[type="text"]{
         margin-bottom: 0;
         padding-right: 65px;
        }
      .search_btn{
           position:absolute;
           top:5px;
           right:5px;
           width: 60px;
           height: 38px;
            
        
        }
    }
}
.pyg_searchList{
    padding:10px;
    .search_history{
       span{
        display: inline-block;
        padding:4px  17px;
        border-radius: 17px;
        border:1px solid #ccc;
        line-height: 23px;
        text-align: center;
        color:#ccc;
        margin:10px;
       }
       

    }
    .searchList{
        margin-top:10px;
        margin:5px 0;
        overflow: hidden;
        li{
            padding:10px 0;
        }
    }

}
